<%-include ("partials/header.ejs")%>
<body>
    <%if(!locals.book){%>
        <form id="add-form" class="form" action="/added" method="POST" >
            <div class="heads">
                <h1>Add a book</h1>
                <div class="buttons">
                    <label for="rating">Rating:</label>
                    <input type="text" class="input" name="rating" id="rating" required>
                    <button class="button" type="submit">Add</button>
                </div>
            </div>
            <div class="introd">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" class="input" required>
                <label for="author">Author:</label>
                <input type="text" id="author" name="author" class="input" required>
                <label for="year">Year:</label>
                <input type="text" id="year" name="year" class="input" required>
                <label for="isbn">ISBN:</label>
                <input type="text" id="isbn" name="isbn" class="input" required>
            </div>
            <label for="review">Review:</label>
            <textarea name="review" id='review-input' class="input" rows="6" required></textarea>
            
        </form>
    <%}else{%>
        <form id="modify-form" class="form" action="/edited/<%=book.id%>" method="post">
            <h1>Add a book</h1>
            <div class="buttons">
                <label for="rating">Rating:</label>
                <input type="text" class="input" name="rating" id="rating" value="<%=book.rating%>" required>
                <button class="button" type="submit">Submit</button>
            </div>
            <div class="introd">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" class="input" value="<%=book.title%>" required>
                <label for="author">Author:</label>
                <input type="text" id="author" name="author" class="input" value="<%=book.author%>" required>
                <label for="year">Year:</label>
                <input type="text" id="year" name="year" class="input" value="<%=book.year%>" required>
                <label for="isbn">ISBN:</label>
                <input type="text" id="isbn" name="isbn" class="input" value="<%=book.isbn%>" required>
            </div>
            <label for="review">Review:</label>
            <textarea name="review" id='review-input'  class="input" rows="6" required><%=book.review%> </textarea>
        </form>
    <%}%>
</body>